{"openapi":"3.0.0","info":{"title":"AppDir 2.0 Sky Gateway","description":"Application Directory (AppDir) primarily has the data on applications, their deployments, and the deployment's host &amp; system account associations.\n<ul>\n<li><b>[HA]</b>: High Availability - 99.9% uptime</li>\n<li><b>[SA]</b>: Standard Availability - 99.5% uptime</li> \n</ul>","contact":{"name":"AppDir Support","url":"http://apg.jira.services.gs.com/jira/secure/CreateIssue!default.jspa","email":"gs-appdir2-support@gs.com"},"version":"0.85","x-gsapi-security-oauth":{"name":"OAuthToGsAuthn","in":"header","scheme":"oauth-to-gsauthn","flows":{}}},"servers":[{"url":"https://prod.gateway.sky.site.gs.com"}],"tags":[{"name":"application"},{"name":"bcp"},{"name":"business-unit"},{"name":"classification-application"},{"name":"classification-deployment"},{"name":"deployment"},{"name":"deployment-alias"},{"name":"deployment-v1"},{"name":"family"},{"name":"host"},{"name":"search"},{"name":"sub-business-unit"},{"name":"system-account"},{"name":"tag"},{"name":"tagRef"}],"paths":{"/skygateway/appdir2sg_prod/v1/appdir/api/application/ext/{id}":{"get":{"tags":["application"],"summary":"Extended find by id.  [SA]","operationId":"application_findByIdExt","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ExtApplicationResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/application/familyId/{familyId}":{"get":{"tags":["application"],"summary":"Find by id. [Deprecated - use /family/{applicationId]/applications] [HA]","operationId":"application_findByFamilyId","parameters":[{"name":"familyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ApplicationListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/application/name/{name}":{"get":{"tags":["application"],"summary":"Find by name (like match).  [SA]","operationId":"application_findByName","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ApplicationListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/application/stream":{"get":{"tags":["application"],"summary":"Return all records as a JSON Event Stream.  [SA]","operationId":"application_streamAll","parameters":[{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxObject"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/application/{applicationId}/classifications":{"get":{"tags":["application"],"summary":"Find application classifications by application id.  [HA]","operationId":"application_findClassificationsByApplicationId","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ApplicationClassificationListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/application/{applicationId}/deployments":{"get":{"tags":["application"],"summary":"Find deployments by application id.  [HA]","operationId":"application_findDeploymentsByApplicationId","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/DeploymentListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/application/{id}":{"get":{"tags":["application"],"summary":"Find by id.  [HA]","operationId":"application_findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/bcp/stream":{"get":{"tags":["bcp"],"summary":"Return all records as a JSON Event Stream.  Defaults to active statuses. [SA]","operationId":"bcp_streamAll","parameters":[{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxObject"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/bcp/{id}":{"get":{"tags":["bcp"],"summary":"Find BCP information for deployment id.  [HA]","operationId":"bcp_findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/BcpResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/businessUnit/stream":{"get":{"tags":["business-unit"],"summary":"Return all records as a JSON Event Stream.  [SA]","operationId":"business_unit_streamAll","parameters":[{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxObject"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/businessUnit/{businessUnitId}/subBusinessUnits":{"get":{"tags":["business-unit"],"summary":"Find sub business units by business unit id.  [HA]","operationId":"business_unit_findSubBusinessUnitsByBusinessUnitId","parameters":[{"name":"businessUnitId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/SubBusinessUnitListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/businessUnit/{id}":{"get":{"tags":["business-unit"],"summary":"Find by id.  [HA]","operationId":"business_unit_findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/BusinessUnitResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/classification/application/applicationId/{applicationId}":{"get":{"tags":["classification-application"],"summary":"Find by application id.  [Deprecated - use /application/{applicationId}/classifications] [HA]","operationId":"classification_application_findByApplicationId","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ApplicationClassificationListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/classification/application/applicationId/{applicationId}/key/{key}":{"get":{"tags":["classification-application"],"summary":"Find by pk (composite pk: applicationId/key).  [HA]","operationId":"classification_application_findById","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ApplicationClassificationResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/classification/application/metadata":{"get":{"tags":["classification-application"],"summary":"Find metadata (detailed information on keys).  [HA]","operationId":"classification_application_findMetadata","responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ClassificationMetadataListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/classification/application/stream":{"get":{"tags":["classification-application"],"summary":"Return all records as a JSON Event Stream.  [SA]","operationId":"classification_application_streamAll","parameters":[{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxObject"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/classification/deployment/deploymentId/{deploymentId}":{"get":{"tags":["classification-deployment"],"summary":"Find by deployment id.  [Deprecated - use /deployment/{deploymentId}/classifications] [HA]","operationId":"classification_deployment_findByDeploymentId","parameters":[{"name":"deploymentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/DeploymentClassificationListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/classification/deployment/deploymentId/{deploymentId}/key/{key}":{"get":{"tags":["classification-deployment"],"summary":"Find by pk (composite pk: deploymentId/key).  [HA]","operationId":"classification_deployment_findById","parameters":[{"name":"deploymentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/DeploymentClassificationResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/classification/deployment/metadata":{"get":{"tags":["classification-deployment"],"summary":"Find metadata (detailed information on keys).  [HA]","operationId":"classification_deployment_findMetadata","responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ClassificationMetadataListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/classification/deployment/stream":{"get":{"tags":["classification-deployment"],"summary":"Return all records as a JSON Event Stream.  Defaults to active statuses, and status is inherited from deployment.  [SA]","operationId":"classification_deployment_streamAll","parameters":[{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxDeploymentClassification"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/deployment/applicationId/{applicationId}":{"get":{"tags":["deployment"],"summary":"Find by application id.  [Deprecated - use /application/{applicationId]/deployments] [HA]","operationId":"deployment_findByApplicationId","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/DeploymentListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/deployment/ext/{id}":{"get":{"tags":["deployment"],"summary":"Extended find by id.  [SA]","operationId":"deployment_findByIdExt","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ExtDeploymentResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/deployment/name/{name}":{"get":{"tags":["deployment"],"summary":"Find by name (like match).  [SA]","operationId":"deployment_findByName","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ExtDeploymentListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/deployment/stream":{"get":{"tags":["deployment"],"summary":"Return all records as a JSON Event Stream.  Defaults to active statuses. [SA]","operationId":"deployment_streamAll","parameters":[{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxObject"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/deployment/{deploymentId}/classifications":{"get":{"tags":["deployment"],"summary":"Find deployment classifications by deployment id.  [HA]","operationId":"deployment_findDeploymentClassificationsByDeploymentId","parameters":[{"name":"deploymentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/DeploymentClassificationListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/deployment/{deploymentId}/hosts":{"get":{"tags":["deployment"],"summary":"Find hosts by deployment id.  [HA]","operationId":"deployment_findHostsByDeploymentId","parameters":[{"name":"deploymentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/HostListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/deployment/{deploymentId}/systemAccounts":{"get":{"tags":["deployment"],"summary":"Find system accounts by deployment id.  [HA]","operationId":"deployment_findSystemAccountsByDeploymentId","parameters":[{"name":"deploymentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/SystemAccountListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/family/stream":{"get":{"tags":["family"],"summary":"Return all records as a JSON Event Stream.  [SA]","operationId":"family_streamAll","parameters":[{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxObject"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/family/subBusinessUnitId/{subBusinessUnitId}":{"get":{"tags":["family"],"summary":"Find by sub-business unit id.  [Deprecated - use /subBusinessUnit/{subBusinessUnitId]/families] [HA]","operationId":"family_findBySubBusinessUnitId","parameters":[{"name":"subBusinessUnitId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FamilyListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/family/{familyId}/applications":{"get":{"tags":["family"],"summary":"Find appications by family id.  [HA]","operationId":"family_findApplicationsByFamilyId","parameters":[{"name":"familyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/ApplicationListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/family/{id}":{"get":{"tags":["family"],"summary":"Find by id.  [HA]","operationId":"family_findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FamilyResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/host/deploymentId/{deploymentId}":{"get":{"tags":["host"],"summary":"Find by deployment id.  [Deprecated - use /deployment/[deploymentId]/hosts] [HA]","operationId":"host_findByDeploymentId","parameters":[{"name":"deploymentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/HostListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/host/hostname/{hostname}":{"get":{"tags":["host"],"summary":"Find by hostname.  [HA]","operationId":"host_findByHostname","parameters":[{"name":"hostname","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/HostListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/host/stream":{"get":{"tags":["host"],"summary":"Return all records as a JSON Event Stream.  Defaults to active statuses, and status is inherited from deployment.  [SA]","operationId":"host_streamAll","parameters":[{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxHost"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/report/fullServerReport.csv":{"get":{"tags":["report"],"summary":"Download csv file with host/deployment/bcp/orgstucture data","operationId":"report_createFullServerReport","responses":{"default":{"description":"successful operation","content":{}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/subBusinessUnit/businessUnitId/{businessUnitId}":{"get":{"tags":["sub-business-unit"],"summary":"Find by business unit id.  [Deprecated - use /businessUnit/{businessUnitId]/subBusinessUnits] [HA]","operationId":"sub_business_unit_findByBusinessUnitId","parameters":[{"name":"businessUnitId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/SubBusinessUnitListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/subBusinessUnit/stream":{"get":{"tags":["sub-business-unit"],"summary":"Return all records as a JSON Event Stream.  [SA]","operationId":"sub_business_unit_streamAll","parameters":[{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxObject"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/subBusinessUnit/{id}":{"get":{"tags":["sub-business-unit"],"summary":"Find by id.  [HA]","operationId":"sub_business_unit_findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/SubBusinessUnitResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/subBusinessUnit/{subBusinessUnitId}/families":{"get":{"tags":["sub-business-unit"],"summary":"Find families by sub-business unit id.  [HA]","operationId":"sub_business_unit_findFamiliesBySubBusinessUnitId","parameters":[{"name":"subBusinessUnitId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FamilyListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/systemAccount/deploymentId/{deploymentId}":{"get":{"tags":["system-account"],"summary":"Find by deployment id.  [Deprecated - use /deployment/[deploymentId]/systemAccounts] [HA]","operationId":"system_account_findByDeploymentId","parameters":[{"name":"deploymentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/SystemAccountListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/systemAccount/deploymentId/{deploymentId}/name/{name}":{"get":{"tags":["system-account"],"summary":"Search by deploymentId and name.  (composite pk: deploymentId/name/domain/platform).  [HA]","operationId":"system_account_findByDeploymentIdAndName","parameters":[{"name":"deploymentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/SystemAccountListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/systemAccount/deploymentId/{deploymentId}/name/{name}/domain/{domain}/platform/{platform}":{"get":{"tags":["system-account"],"summary":"Find by pk. Search parameters cannot be blank. (composite pk: deploymentId/name/domain/platform).  [HA]","operationId":"system_account_findById","parameters":[{"name":"deploymentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"platform","in":"path","required":true,"schema":{"type":"string","enum":["UNIX","WINDOWS","UNKNOWN"]}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/SystemAccountResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/systemAccount/stream":{"get":{"tags":["system-account"],"summary":"Return all records as a JSON Event Stream.  Defaults to active statuses, and status is inherited from deployment.  [SA]","operationId":"system_account_streamAll","parameters":[{"name":"status","in":"query","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]}}}],"responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxSystemAccount"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/tag/stream":{"get":{"tags":["tag"],"summary":"Return all tags as a Flux stream.[HA]","operationId":"tag_streamAll","responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxTag"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/tag/tagPrefix/{tagPrefix}":{"get":{"tags":["tag"],"summary":"Return all tags that start with the queried tag string.[HA]","operationId":"tag_findTagsLike","parameters":[{"name":"tagPrefix","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/TagListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/tag/{tag}":{"get":{"tags":["tag"],"summary":"Find by tag.[HA]","operationId":"tag_findByTag","parameters":[{"name":"tag","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/tagRef/entityType/{entityType}/entityId/{entityId}":{"get":{"tags":["tagRef"],"summary":"Return all tags (with tagType and entitlement info) associated with the queried entity.[HA]","operationId":"tagRef_findByEntityTypeAndId","parameters":[{"name":"entityType","in":"path","required":true,"schema":{"type":"string","enum":["BUSINESS_UNIT","SUB_BUSINESS_UNIT","FAMILY","APPLICATION","DEPLOYMENT"]}},{"name":"entityId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/TagCompositeListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/tagRef/entityType/{entityType}/entityId/{entityId}/tag/{tag}":{"get":{"tags":["tagRef"],"summary":"Find by TagRef id.(composite id: entityType/entityId/tag) [HA]","operationId":"tagRef_findById","parameters":[{"name":"entityType","in":"path","required":true,"schema":{"type":"string","enum":["BUSINESS_UNIT","SUB_BUSINESS_UNIT","FAMILY","APPLICATION","DEPLOYMENT"]}},{"name":"entityId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/TagRefResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/tagRef/stream":{"get":{"tags":["tagRef"],"summary":"Return all tagged entities with associated tags, as a Flux stream.[HA]","operationId":"tagRef_streamAll","responses":{"200":{"description":"successful operation","content":{"application/stream+json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/FluxTagRef"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/tagRef/tag/{tag}":{"get":{"tags":["tagRef"],"summary":"Return all entities associated with the queried tag.[HA]","operationId":"tagRef_findByTag","parameters":[{"name":"tag","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/TagRefListResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}},"/skygateway/appdir2sg_prod/v1/appdir/api/v1/deployment/{id}":{"get":{"tags":["deployment-v1"],"summary":"Find by id.  [HA]","operationId":"deployment_v1_findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/DeploymentResponse"}}}}},"security":[{"OAuthToGsAuthn":[]}]}}},"components":{"schemas":{"Application":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"},"statusType":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]},"familyId":{"type":"integer","format":"int32"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"ApplicationClassification":{"type":"object","properties":{"applicationId":{"type":"integer","format":"int32"},"key":{"type":"string"},"value":{"type":"string"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"ApplicationClassificationBulkRequest":{"type":"object","properties":{"applicationId":{"type":"integer","format":"int32"},"key":{"type":"string"},"value":{"type":"string"}}},"ApplicationClassificationListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"applicationClassifications":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationClassification"}}}},"ApplicationClassificationPrimaryKey":{"type":"object","properties":{"applicationId":{"type":"integer","format":"int32"},"key":{"type":"string"}}},"ApplicationClassificationResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"applicationClassification":{"$ref":"#/components/schemas/ApplicationClassification"}}},"ApplicationCreateRequest":{"type":"object","properties":{"familyId":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"}}},"ApplicationListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"applications":{"type":"array","items":{"$ref":"#/components/schemas/Application"}}}},"ApplicationResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"application":{"$ref":"#/components/schemas/Application"}}},"Bcp":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"tier":{"type":"string","enum":["UNKNOWN","TIER_I","TIER_A","TIER_B","TIER_C","TIER_D"]},"rto":{"type":"string","enum":["UNKNOWN","ALWAYS_AVAILABLE","FOUR_HOURS","ONE_DAY","WEEK","NONE"]},"testDates":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/BcpTestDate"}},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"BcpClassificationRequest":{"type":"object","properties":{"deploymentId":{"type":"integer","format":"int32"},"tier":{"type":"string","enum":["UNKNOWN","I","A","B","C","D"]},"rto":{"type":"string","enum":["UNKNOWN","RTO_1","RTO_2","RTO_3","RTO_4","RTO_5"]}}},"BcpResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"bcp":{"$ref":"#/components/schemas/Bcp"}}},"BcpTestDate":{"type":"object","properties":{"testDate":{"type":"string","format":"date-time"},"modifiedDate":{"type":"string","format":"date-time"},"modifiedBy":{"type":"string"}}},"BcpTestDateRequest":{"type":"object","properties":{"deploymentId":{"type":"integer","format":"int32"},"testDate":{"type":"string","format":"date"}}},"BusinessUnit":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"statusType":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"BusinessUnitResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"businessUnit":{"$ref":"#/components/schemas/BusinessUnit"}}},"ClassificationMetadata":{"type":"object","properties":{"key":{"type":"string"},"scope":{"type":"string","enum":["APPLICATION","DEPLOYMENT"]},"label":{"type":"string"},"description":{"type":"string"},"values":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"classificationType":{"type":"string","enum":["MANAGED_BY_OWNER","MANAGED_CENTRALLY"]},"governanceName":{"type":"string"},"governanceEmail":{"type":"string"},"displayOrder":{"type":"integer","format":"int32"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"ClassificationMetadataListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"metadata":{"type":"array","items":{"$ref":"#/components/schemas/ClassificationMetadata"}}}},"ClassificationMetadataPrimaryKey":{"type":"object","properties":{"key":{"type":"string"},"scope":{"type":"string","enum":["APPLICATION","DEPLOYMENT"]}}},"Deployment":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"},"statusType":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]},"applicationId":{"type":"integer","format":"int32"},"environmentType":{"type":"string","enum":["PRODUCTION","NON_PRODUCTION"]},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"DeploymentAlias":{"type":"object","properties":{"id":{"type":"string"},"deploymentId":{"type":"integer","format":"int32"},"deploymentAliasType":{"type":"string","enum":["STATIC","DYNAMIC"]},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"DeploymentAliasRequest":{"type":"object","properties":{"deploymentId":{"type":"integer","format":"int32"},"applicationId":{"type":"integer","format":"int32"},"alias":{"type":"string"},"environmentType":{"type":"string","enum":["PRODUCTION","NON_PRODUCTION"]},"username":{"type":"string"}}},"DeploymentAliasResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"deploymentAlias":{"$ref":"#/components/schemas/DeploymentAlias"},"applicationId":{"type":"integer","format":"int32"},"environmentType":{"type":"string","enum":["PRODUCTION","NON_PRODUCTION"]}}},"DeploymentClassification":{"type":"object","properties":{"deploymentId":{"type":"integer","format":"int32"},"key":{"type":"string"},"value":{"type":"string"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"DeploymentClassificationListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"classifications":{"type":"array","items":{"$ref":"#/components/schemas/DeploymentClassification"}}}},"DeploymentClassificationPrimaryKey":{"type":"object","properties":{"deploymentId":{"type":"integer","format":"int32"},"key":{"type":"string"}}},"DeploymentClassificationRequest":{"type":"object","properties":{"deploymentId":{"type":"integer","format":"int32"},"classificationType":{"type":"string"},"value":{"type":"string"}}},"DeploymentClassificationResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"classification":{"$ref":"#/components/schemas/DeploymentClassification"}}},"DeploymentClassificationValueRequest":{"type":"object","properties":{"value":{"type":"string"}}},"DeploymentCreateRequest":{"type":"object","properties":{"applicationId":{"type":"integer","format":"int32"},"name":{"type":"string"},"environmentType":{"type":"string","enum":["PRODUCTION","NON_PRODUCTION"]},"description":{"type":"string"}}},"DeploymentListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"deployments":{"type":"array","items":{"$ref":"#/components/schemas/Deployment"}}}},"DeploymentRequest":{"type":"object","properties":{"deploymentIds":{"type":"array","items":{"type":"integer","format":"int32"}},"environment":{"type":"string","enum":["PRODUCTION","NON_PRODUCTION"]},"statuses":{"type":"array","items":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]}}}},"DeploymentResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"deployment":{"$ref":"#/components/schemas/Deployment"}}},"ExtApplication":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"},"statusType":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]},"familyId":{"type":"integer","format":"int32"},"businessUnitId":{"type":"integer","format":"int32"},"businessUnitName":{"type":"string"},"subBusinessUnitId":{"type":"integer","format":"int32"},"subBusinessUnitName":{"type":"string"},"familyName":{"type":"string"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"ExtApplicationResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"application":{"$ref":"#/components/schemas/ExtApplication"}}},"ExtDeployment":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"},"statusType":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]},"applicationId":{"type":"integer","format":"int32"},"environmentType":{"type":"string","enum":["PRODUCTION","NON_PRODUCTION"]},"applicationName":{"type":"string"},"businessUnitId":{"type":"integer","format":"int32"},"businessUnitName":{"type":"string"},"subBusinessUnitId":{"type":"integer","format":"int32"},"subBusinessUnitName":{"type":"string"},"familyId":{"type":"integer","format":"int32"},"familyName":{"type":"string"},"classifications":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/SimpleExtClassification"}},"hosts":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/Host"}},"systemAccounts":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/SystemAccount"}},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"ExtDeploymentListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"deployments":{"type":"array","items":{"$ref":"#/components/schemas/ExtDeployment"}}}},"ExtDeploymentResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"deployment":{"$ref":"#/components/schemas/ExtDeployment"}}},"Family":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"},"statusType":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]},"subBusinessUnitId":{"type":"integer","format":"int32"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"FamilyCreateRequest":{"type":"object","properties":{"subBusinessUnitId":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"}}},"FamilyListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"families":{"type":"array","items":{"$ref":"#/components/schemas/Family"}}}},"FamilyResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"family":{"$ref":"#/components/schemas/Family"}}},"Flux":{"type":"object","properties":{"prefetch":{"type":"integer","format":"int32"}}},"FluxDeploymentClassification":{"type":"object","properties":{"prefetch":{"type":"integer","format":"int32"}}},"FluxHost":{"type":"object","properties":{"prefetch":{"type":"integer","format":"int32"}}},"FluxObject":{"type":"object","properties":{"prefetch":{"type":"integer","format":"int32"}}},"FluxSystemAccount":{"type":"object","properties":{"prefetch":{"type":"integer","format":"int32"}}},"FluxTag":{"type":"object","properties":{"prefetch":{"type":"integer","format":"int32"}}},"FluxTagRef":{"type":"object","properties":{"prefetch":{"type":"integer","format":"int32"}}},"Host":{"type":"object","properties":{"deploymentId":{"type":"integer","format":"int32"},"hostname":{"type":"string"},"auid":{"type":"integer","format":"int64"},"hostOwnership":{"type":"string","enum":["OWNED","DEPENDENCY_ONLY","LOGIN_ACCESS","TEMP_OWNER"]},"statusType":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"HostListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"hosts":{"type":"array","items":{"$ref":"#/components/schemas/Host"}}}},"HostPrimaryKey":{"type":"object","properties":{"deploymentId":{"type":"integer","format":"int32"},"hostname":{"type":"string"}}},"HostRequest":{"type":"object","properties":{"hostOwnership":{"type":"string","enum":["OWNED","LOGIN_ACCESS"]}}},"HostResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"host":{"$ref":"#/components/schemas/Host"}}},"HostSearchRequest":{"type":"object","properties":{"hostnames":{"type":"array","items":{"type":"string"}},"hostOwnerships":{"type":"array","items":{"type":"string","enum":["OWNED","DEPENDENCY_ONLY","LOGIN_ACCESS","TEMP_OWNER"]}},"hostStatusTypes":{"type":"array","items":{"type":"string","enum":["ACTIVE","IN_DEVELOPMENT","DECOMMISSIONED"]}}}},"IntPrimaryKey":{"type":"object","properties":{"id":{"type":"integer","format":"int32"}}},"MetricsHeader":{"type":"object","properties":{"version":{"type":"string"},"sourceServer":{"type":"string"},"responseTime":{"type":"string","format":"date-time"},"executionMillis":{"type":"integer","format":"int64"},"requestId":{"type":"string"}}},"SimpleExtClassification":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}}},"StringPrimaryKey":{"type":"object","properties":{"id":{"type":"string"}}},"SubBusinessUnit":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"statusType":{"type":"string","enum":["ACTIVE","DECOMMISSIONED"]},"businessUnitId":{"type":"integer","format":"int32"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"SubBusinessUnitListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"subBusinessUnits":{"type":"array","items":{"$ref":"#/components/schemas/SubBusinessUnit"}}}},"SubBusinessUnitResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"subBusinessUnit":{"$ref":"#/components/schemas/SubBusinessUnit"}}},"SystemAccount":{"type":"object","properties":{"deploymentId":{"type":"integer","format":"int32"},"name":{"type":"string"},"domain":{"type":"string"},"platform":{"type":"string","enum":["UNIX","WINDOWS","UNKNOWN"]},"accountType":{"type":"string"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"SystemAccountListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"systemAccounts":{"type":"array","items":{"$ref":"#/components/schemas/SystemAccount"}}}},"SystemAccountPrimaryKey":{"type":"object","properties":{"deploymentId":{"type":"integer","format":"int32"},"name":{"type":"string"},"domain":{"type":"string"},"platform":{"type":"string","enum":["UNIX","WINDOWS","UNKNOWN"]}}},"SystemAccountRequest":{"type":"object","properties":{"systemAccountNames":{"type":"array","items":{"type":"string"}}}},"SystemAccountResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"systemAccount":{"$ref":"#/components/schemas/SystemAccount"}}},"Tag":{"type":"object","properties":{"tag":{"type":"string"},"tagType":{"type":"string","enum":["STANDARD","RESERVED"]},"entityType":{"type":"string","enum":["BUSINESS_UNIT","SUB_BUSINESS_UNIT","FAMILY","APPLICATION","DEPLOYMENT"]},"entityId":{"type":"string"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"TagCompositeListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"tagRefs":{"type":"array","items":{"$ref":"#/components/schemas/TagRef"}},"tags":{"type":"array","items":{"$ref":"#/components/schemas/Tag"}}}},"TagListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/Tag"}}}},"TagPrimaryKey":{"type":"object","properties":{"tag":{"type":"string"}}},"TagRef":{"type":"object","properties":{"entityType":{"type":"string","enum":["BUSINESS_UNIT","SUB_BUSINESS_UNIT","FAMILY","APPLICATION","DEPLOYMENT"]},"entityId":{"type":"string"},"tag":{"type":"string"},"value":{"type":"string"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"lastModifiedBy":{"type":"string"}}},"TagRefListResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"tagRefs":{"type":"array","items":{"$ref":"#/components/schemas/TagRef"}}}},"TagRefPrimaryKey":{"type":"object","properties":{"entityType":{"type":"string","enum":["BUSINESS_UNIT","SUB_BUSINESS_UNIT","FAMILY","APPLICATION","DEPLOYMENT"]},"entityId":{"type":"string"},"tag":{"type":"string"}}},"TagRefResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"tagRef":{"$ref":"#/components/schemas/TagRef"}}},"TagResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/MetricsHeader"},"tag":{"$ref":"#/components/schemas/Tag"}}}},"securitySchemes":{"OAuthToGsAuthn":{"type":"oauth2","in":"header","scheme":"oauth-to-gsauthn","flows":{}}}}}